.row{
    margin-top: 20px;
}

.description {
    background-color: blue;
    color: white;
    /* opacity: 0.4; */
}

h1{
   color: white; 
}
a {
    color: white;
}
h1{
    color: black;

    font-weight: bold;
}

