
/* Matched this ID with the HTML image*/ 
#profile-pic {
    height:200px; 
    width: 200px;
    
}


/* The HTML Class was matched with the CSS Specifications below*/ 
.footerinfo {
    width: 100%;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    position: absolute;
    bottom: 0;
  }
/*Styling for h2 on the main page with my background info and picture*/ 
  h2 {text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;

}

body {background-color: beige
}
